.calendar-ceader {
    color: #fff;
    margin-top: 30px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin: 30px auto 50px auto;
      @media (min-width: 1000px) {
        max-width: 1900px;
      }
  }
  
  .name-rc {
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -2.56px;
      span {
        color: var(--main-colors-accent, #F51B1B);
      }
  }
  
  .navigation-bt {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    span {
      font-size: 26px;
    }
    button {
      margin-left: 8px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px 16px;
      justify-content: center;
      border-radius: 8px;
      background: var(--system-colors-element, #EFEFEF);
        img {
          width: 20px;
          height: 20px;
        };
    }
    .custom-button {
      padding: 21px 32px;
      cursor: pointer;
      color: var(--main-colors-white, var(--basic-base, #FFF));
      border-radius: 12px;
      background: var(--main-colors-black, #0D0C0C);
    }
  }

  .custom-button {
    padding: 21px 32px;
    cursor: pointer;
    color: var(--main-colors-white, var(--basic-base, #FFF));
    border-radius: 12px;
    background: var(--main-colors-black, #0D0C0C);
  }
  
  .navi-wrapper {
    display: flex;
    gap: 60px;
  }

  .title {
    font-size: 26px;
    font-weight: 400;
  }
  
  .bt-wrapper {
    display: flex;
    gap: 33px;
    align-items: center;
  }

  .avatar {
    border-radius: 100px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-image: url('https://i.ibb.co/3hhqxwp/Ellipse-1.png');
    background-size: 100% 100%;
  }