.wrapper-login {
    display: flex;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
    cursor: pointer;
}

.reg-bt {
    width: 346px;
    padding: 21px 32px;
    border-radius: 12px;
    background: var(--main-colors-black, #0D0C0C);
    color: var(--main-colors-white, var(--basic-base, #FFF));
    font-size: 18px;
    cursor: pointer;
}

.password-rules-wrapper {
    display: flex;
    width: 520px;
    margin-bottom: 24px;
    margin-left: 8px;
    .password-rules {
        font-size: 12px;
        font-style: normal;
    }
}


.reg-bt:disabled {
    background-color: #6d6d6d;
}