@import '../fonts.scss';
$svg-data-uri: url('../../shared/Img/star.svg') format('svg');

.participates-event {
  background-color: red !important;
  color: white;
}

.rbc-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 80vh;
    @media (min-width: 1000px) {
      // max-width: 1900px;
    }
}

.rbc-month-view > .rbc-row-bg {
    .rbc-header {
      border: none;
    }
}

[role="columnheader"]{
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 24px;
  margin-bottom: 16px;
}

.rbc-month-view > :nth-child(2) {
  border-radius: 24px 24px 0 0;
  border-bottom: none;
  overflow: hidden;
}

.rbc-month-view > :last-child {
  .rbc-row-bg {
    border-radius: 0 0 24px 24px;
    overflow: hidden;
  }
  
}
.rbc-month-header, .rbc-month-view {
  border: none ;
  .rbc-header + .rbc-header, .rbc-header {
    border: none;
}
}
.rbc-toolbar {
  display: none;
}

.rbc-event {
  &.rbc-selected {
    background: var(--system-colors-element, #EFEFEF);
    outline-style: none;
  }
  border-radius: 8px;
  background: var(--system-colors-element, #EFEFEF);
  margin-left: 5px;
  width: auto;
    .rbc-event-content {
      color: var(--main-colors-black, #0D0C0C);
      font-size: 20px;
      font-style: normal;
      font-family: 'TT Commons Medium';
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.4px;
    }
}

.past-event {
  background-color: var(--system-colors-element, #EFEFEF);
  .rbc-event-content {
    font-size: 20px;    
    color: var(--Gray, #B3B3BC);
  }
}

.rbc-today {
  background-color: var(--main-colors-white, #FFF);
}

.event-today {
  background-color: var(--main-colors-accent, #F51B1B )!important;
  div.rbc-event-content {
    color: var(--system-colors-element, #ffffff)!important;
  }
  .rbc-event-content::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    background-image: url("../../shared/Img/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}
.rbc-month-row > .rbc-row-bg {
  border: none !important;
}