@font-face {
    font-family: 'Redcollar';
    src: url('../public/fonts/Redcollar.woff2') format('woff2');
}
  
@font-face {
    font-family: 'TT Commons Medium';
    src: url('../public/fonts/TTCommons-Medium.woff') format('woff');
}
  
* {
    font-family: 'Redcollar';
}